<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="provider"/>
    <!-- 注册中心的IP地址 -->
    <dubbo:registry address="zookeeper://60.205.179.156:2181" file="N/A"/>
    <!-- 扫描注解包路径 -->
    <dubbo:annotation package="com.zss.service"/>

    <dubbo:consumer version="1.0.0" check="false" timeout="300000" />
</beans>